.App {
  text-align: center;
}

html {
  width: 500px;
  margin: 40px auto;
  background-color: ivory;
}

h1 {
  border-bottom: 3px solid black;
}

.smurf {
  border: 2px solid black;
  width: 300px;
  margin: 40px auto;
}

input {
  margin: 10px auto;
}
